/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 70%;
  margin: 0 auto;
}
.container-2 {
  max-width: 72%;
  margin: 0 auto;
}
header nav {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  header nav {
    justify-content: center;
  }
}
header nav a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  margin: 10px;
}
header .bg-color {
  background-color: #eeebeb;
  padding: 30px 20px;
}
header .bg-color img {
  width: 35%;
  height: auto;
}
header .bg-color h1 {
  font-size: 5rem;
  padding: 0.5% 0;
}
header .bg-color h3 {
  font-size: 2rem;
  border-bottom: 1px solid grey;
  padding: 5px 0 20px 0;
}
header .bg-color p {
  font-size: 1.5rem;
  padding: 20px 0 10px 0;
}
header .bg-color button {
  font-size: 2rem;
  color: white;
  background-color: #666666;
  padding: 1.2%;
  border-radius: 5px;
  margin-top: 1%;
}
.middle-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .middle-content {
    display: flex;
    flex-direction: column;
    width: 200%;
  }
}
.middle-content .intro {
  width: 49%;
}
@media (max-width: 500px) {
  .middle-content .intro div {
    padding: 5px;
  }
}
.middle-content .intro h2 {
  font-size: 3rem;
}
.middle-content .intro p {
  font-size: 1.5rem;
  height: 80%;
  line-height: 2.1em;
}
.middle-content .skills {
  width: 49%;
}
.middle-content .skills h2 {
  font-size: 3rem;
  padding: 5px 0;
}
.middle-content .skills ul {
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}
.middle-content .skills ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}
.middle-content .skills ul li:last-child {
  border-bottom: none;
}
.bottom-content h2 {
  font-size: 3rem;
  padding-top: 3%;
  padding-bottom: 0.5%;
}
.bottom-content table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem;
}
.bottom-content th {
  border: 1px solid #dddddd;
  font-weight: bold;
  text-align: left;
  padding: 8px;
}
.bottom-content td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.bottom-content tr:nth-child(even) {
  background-color: #dddddd;
}
footer {
  background-color: #7c7c7c;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin: 20px 0 0;
  padding: 10px;
}
